Package: obd-plymouth-theme
Version: 0.6.1ubuntu9
Architecture: all
Maintainer: OBD Developers <system@okusi.net>
Installed-Size: 85
Depends: plymouth
Section: X11
Priority: optional
Homepage: http://okusi.net/
Description: tema plymouth untuk okusi bussiness desktop
